
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="userform">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <hr />
                <div class="text-success">
                    @ViewBag.Message
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    @Html.TextBox("Email", "", new { @class = "form--control" })
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-10">
                        <input class="submitbutton" type="submit" value="Odzyskaj">
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>
