@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>O Nas</h1>

Vivamus volutpat, sapien vitae pellentesque convallis, orci felis viverra ligula, feugiat lobortis ligula orci eget purus. Nunc magna augue, tristique eget libero eget, dictum aliquet urna. Fusce semper faucibus justo. Nullam sagittis purus sit amet mi pharetra, eget gravida tortor ultricies. Nullam sit amet consequat nisi, eget posuere ante. Nulla at venenatis ex. Etiam mollis risus sed velit cursus ullamcorper et nec elit. Curabitur laoreet leo in quam congue pharetra.

Integer sed tortor justo. Quisque vulputate ultrices risus at scelerisque. Etiam condimentum arcu vitae velit imperdiet, vitae tempor libero mollis. Sed efficitur finibus arcu, ut egestas elit feugiat in. Quisque semper ipsum at sollicitudin posuere. Nunc suscipit auctor ipsum, sit amet ullamcorper erat tempus vel. Vivamus nec justo metus.

Cras bibendum eros eros, a elementum eros pellentesque tincidunt. Integer quis molestie felis, sit amet commodo ante. Ut pellentesque turpis et velit finibus, vulputate suscipit magna placerat. Quisque porta ligula a lectus posuere bibendum. Praesent sagittis tristique lacinia. Cras accumsan nunc ac interdum rutrum. Sed lectus magna, ultrices non arcu eget, tempus accumsan ipsum. Suspendisse potenti. Ut nec tristique metus, sed fringilla nulla. Phasellus ut tincidunt nunc, et pulvinar magna. Integer bibendum id turpis non tempor. Aliquam efficitur, libero dignissim fringilla.